


/* Light Theme (Default) */
:root {
    /* Primary Colors */
    --Primary: #0F172A;
    --Primary-Hover: #1E2D53;
    --On-Primary: #FFFFFF;

    /* Background & Surface */
    --Background: #FFFFFF;
    --Surface: #FAFAFA;
    --Highlight-Surface: #F4F4F5;

    /* Secondary Colors */
    --Secondary: #F1F5F9;
    --Secondary-Variant: #94A3AB;
    --On-Secondary: #334155;

    /* Text Colors */
    --On-Surface: #3F3F46;
    --On-Background: #09090B;
    --On-Background-2: #71717A;
    --On-Background-Link: #5490F2;

    /* Borders */
    --Border: #E4E4E7;
    --Border-2: #CBD5E1;
    --Border-Highlight: #669FFC;

    /* Status Colors */
    --Success: #15803D;
    --Destructive: #D92626;
}

/* Dark Theme */
[data-theme="dark"] {
    /* Primary Colors */
    --Primary: #3B4A6E;
    --Primary-Hover: #4E6292;
    --On-Primary: #FFFFFF;

    /* Background & Surface */
    --Background: #000000;
    --Surface: #020817;
    --Highlight-Surface: #F4F4F5;

    /* Secondary Colors */
    --Secondary: #18181B;
    --Secondary-Variant: #204586;
    --On-Secondary: #081021;

    /* Text Colors */
    --On-Surface: #E0E0E0;
    --On-Background: #FAFAFA;
    --On-Background-2: #B2B2B2;
    --On-Background-Link: #5490F2;

    /* Borders */
    --Border: #E4E4E7;
    --Border-2: #1E293B;
    --Border-Highlight: #D4D4D8;

    /* Status Colors */
    --Success: #15803D;
    --Destructive: #D92626;
}