.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0 auto; 
}

.logo-container svg {
    width: 182px;
    height: 182px;
    flex-shrink: 0;
}
